{% extends 'hotel_layout.html' %}

{% block title %}Hotel - Rooms{% endblock %}

{% block first_body %}
    <h1>Add Room</h1>
{% endblock %}

{% block second_body %}
    <form action='' method = "POST">
        <p>employee ID <input type = "integer" name = "area" /></p>
        <p>name <input type = "integer" name = "number_of_beds" /></p>
        <p>age <input type = "integer" name = "price_for_a_night" /></p>
        <span class="menu">
        <p><input class="button button4" type = "cancel" value = "Cancel" /></p>
        <p><input class="button button1" type = "add" value = "Add" /></p>
        </span>
    </form>
{% endblock %}
