{% extends 'hotel_layout.html' %}

{% block title %}Hotel - Rooms{% endblock %}

{% block first_body %}
    <h1>Add Room</h1>
{% endblock %}

{% block second_body %}
    <form action='' method = "POST">
        <p>area <input type = "integer" name = "area" required="required"/></p>
        <p>price_for_a_night <input type = "integer" name = "price_for_a_night" required="required"/></p>
        <p>max_amount_clients <input type = "integer" name = "max_amount_clients" required="required"/></p>
        <span class="menu">
        <p><a href="/room_list/" class="button button4" type = "cancel">Cancel</a></p>
        <p><input class="button button1" type = "submit" value = "Add" /></p>
        </span>
    </form>
{% endblock %}
