{% extends 'hotel_layout.html' %}

{% block title %}Hotel - Rooms{% endblock %}

{% block first_body %}
    <h1>Edit Room</h1>
{% endblock %}

{% block second_body %}
    <span class="inside">
        <label>id:</label>
        <input type="text" id="id" size="3">
    </span>

    <span class="inside">
        <label>area:</label>
        <input type="text" id="id" size="4">
    </span>

    <span class="inside">
        <label>number_of_beds:</label>
        <input type="text" id="id" size="3">
    </span>

    <span class="inside">
        <label>price_for_a_night:</label>
        <input type="text" id="id" size="4">
    </span>

    <span class="menu">
        <button class="button button4">Cancel</button>
        <button class="button button2">Edit</button>
    </span>
{% endblock %}
