{% extends 'clients_layout.html' %}

{% block title %}Hotel - Clients{% endblock %}

{% block first_body %}
    <h1>Edit Client</h1>
{% endblock %}

{% block second_body %}
    <span class="inside id">
        <label>id:</label>
        <input type="text" id="id" size="3">
    </span>

    <span class="inside name">
        <label>name:</label>
        <input type="text" id="id" size="10">
    </span>

    <span class="inside">
        <label>phone_number:</label>
        <input type="text" id="id" size="10">
    </span>

    <span class="menu">
        <button class="button button4">Cancel</button>
        <button class="button button2">Edit</button>
    </span>
{% endblock %}
