{% extends 'orders_layout.html' %}

{% block title %}Hotel - Orders{% endblock %}

{% block first_body %}
    <h1>Orders</h1>
{% endblock %}

{% block second_body %}
    <form action='' method = "POST">
        <span class="menu">
            <p>client_id:<input type = "integer" name = "client_id" size="10"/></p>
            <p><input type = "submit" value = "Search"/></p>
        </span>
    </form>

<table style="width:475px">
    <thead><tr><th>id</th><th>client_id</th><th>room_id</th><th>name</th><th>phone_number</th><th>rented</th><th>renting_ends</th></tr></thead>
    <tbody>
        {% for order in orders %}
        <tr><td>{{ order.order_id }}</td><td>{{ order.client_id }}</td><td>{{ order.room_id }}</td><td>{{ order.client_name }}</td><td>{{ order.client_phone_number }}</td><td>{{ order.rented }}</td><td>{{ order.renting_ends }}</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

