{% extends 'clients_layout.html' %}

{% block title %}Hotel - Clients{% endblock %}

{% block first_body %}
    <h1>Delete Client</h1>
{% endblock %}

{% block second_body %}
    <form action='' method = "POST">
    <p>id <input type = "number" name = "id" required="required"/></p>
        <span class="menu">
        <p><a href="/client_list/" class="button button4" type = "cancel">Cancel</a></p>
        <p><input class="button button3" type = "submit" value = "Delete" /></p>
        </span>
    </form>
{% endblock %}

